.links{ 
    all: unset;
    color: white;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
}

/* .routes {
    display: flex;
    justify-content: space-between;
} */

.route { 
    all: unset;
    flex-basis: auto;
}

.active{
    color: red;
}