.links{ 
    all: unset;
    color: black;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgba(255,255,200), rgba(252,255,50));
}

.logo {
    height: 60px;
}

.route { 
    all: unset;
    flex-basis: auto;
}

.active{
    background: linear-gradient(rgba(255,255,200), rgba(255,0,0));
    padding: 25px;
}