.container{
    margin-top: 2%;
    margin-bottom: 2%;
}

.image{
    width: 400px;
}

.name, .brand, .price {
    margin-bottom: 10px;
}

.name {
    font-size: 2em;
}
.brand, .fabric, .selectedSize {
    font-size: 1.25em;
}
.price {
    font-size: 1.5em;
}

.description{
    margin-bottom: 10px;
}

.active {
    background-color: gold !important;
}

.chip {
    margin: 5px !important;
    font-size: 1.25em !important;
}